<div class="row">
  <div class="columns large-12">
    <label>
    Name
    </label>
    <input type="text" name="name" ng-model="profile.name"
     class="required" placeholder="REQUIRED" form-step-Validity validation="validations"/>
    <p class="form-error is-visible"
     ng-show="userReg.name.$touched && userReg.name.$error.required">
     Name is required.
    </p>
  </div>

  <div class="columns large-12">
    <label>
    Work
    </label>
    <input type="text" name="work" ng-model="profile.work" ng-pattern="/^[A-Za-z]+[\w.-]*$/"
     class="required" placeholder="REQUIRED" required form-step-Validity
     ng-class="{'is-invalid-input': userReg.work.$dirty && userReg.work.$invalid}" />
    <p class="form-error is-visible"
     ng-show="userReg.work.$touched && userReg.work.$error.required">
     Name is required.
    </p>
  </div>
</div>
